@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('/styles/reset.css');
@import url('/styles/cabecalho.css');
@import url('banner.css');
@import url('bloco__exemplo.css');

:root {
    --backgorund-color: #F2F2F7;
    --cor-principal: #4747D7;
    --cor-principal-texto: #000000;
    --cor-secundaria-texto: #5C5A5A;
    --cor-terciaria-texto: #FFFFFF;
    --cor--quartenaria-borda: #D9D9D9;
    
    --fonte: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    background-color: var(--backgorund-color);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}